//$color:#0b5ed7;
$color:rgba(11,94,215,0.85);

header{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

#overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: lightgrey;
  opacity: 0.85;
  z-index: 999;
  left: 0;
  top: 0;

}

#drop-zone{
  width: 60%;
  height: 50%;
  border-radius: 10px;
  border: 5px dotted rgb(245, 245, 245) !important;
  user-select: none;
  transition-property: border;
  transition-duration: 500ms;
  background-color: $color;
  color: white;
  &:hover{
    border-color: deepskyblue !important;
  }
}
.image{
  width: 320px;
  height: 180px;
  //background-color: yellow;
  background-size: cover;
  background-position:center ;
  border-radius: 10px;

}


#image-container>div{
  position: relative;
  flex-shrink: 0;
  svg{
    display: none;
  }
  svg:hover{
    scale: 1.1;
  }


  &:hover{
    cursor: pointer;
    transform: scale(1.1);
    svg{
      display: block;
      fill: white;

    }
  }
};
.icon-download{
  position: absolute;
  left: 95%;
  top: 3%;
  transform: translateX(-100%);
  color: black;
};
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $color;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
  }

  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

}
.color-theme{
  fill: $color;
  color:$color;

}
